
@{
    ViewData["Title"] = "Index";
}


<section class="section wb">
    <div class="container">
        <div class="my-2"></div>
        <h2 class="h2">Hakkımızda</h2>
        <hr />
        <p>
            Özgür Yavru-Atilla Tellioglu-Emirhan Yolcu
        </p>
        <p>
            Atilla Tellioglu
            Ozgur Yavru
            Emirhan Yolcu
        </p>
    </div>
</section>